/* Bài tập 1 */
#bai1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4px;
    text-align: center;

    padding-top: 20px;
    margin: 0 auto;

    border: 1px dashed black;

    width: 500px;
    height: 300px;
}

#time {
    padding-top: 20px;

    font-size: 30px;
    font-weight: 600;

}

#notification {
    border: 1px solid red;
    background-color: #ef7961;

    width: 300px;
    height: 100px;
    margin-top: 30px;

    color: rgb(130, 0, 0);
}

/* Bài tập 2 */

#bai2 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    text-align: center;

    border: 1px dashed black;
    }

#messenger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 50px;

    border: 1px dashed green;
    background-color: #649864;

    color: #004900;
    font-weight: bold;
}
